.list-container {
  background: rgb(33, 37, 43);
  height: calc(100vh - 110px);
  overflow: auto;
  margin: 10px;
  margin-bottom: 0;
  flex: 100%;
  border: 1px solid #181a1f;
}

.song-list-container {
  color: rgb(152, 194, 121);
}

.export-list-container {
  color: rgb(208, 154, 102);
  margin-left: 0;
}
