.list-container {
  background: rgb(33, 37, 43);
  height: calc(100vh - 170px);
  overflow: auto;
  flex: 100%;
  margin: 10px;
  border: 1px solid black;
}

.song-list-container {
  color: rgb(152, 194, 121);
}

.export-list-container {
  color: rgb(208, 154, 102);
}
