body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(40, 44, 52);
  display: flex;
  color: rgb(208, 154, 102);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, select {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 box-sizing: inherit;
 background: transparent;
 -webkit-font-smoothing: antialiased;
}

ul {
 list-style: none;
}

img {
 display: block;
 width: 100%;
 /*height: auto;*/
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
input[type="select"],
input[type="radio"],
textarea,
button {
 -webkit-appearance: none;
 -moz-appearance: none;
}

input {
  border: 1px solid #181a1f;
  /*border: 1px solid black;*/
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background: rgb(33, 37, 43);
  width: calc(33vw - 78px);
  color: #9da5b4;
}

input:focus {
  border: 1px solid rgb(152, 194, 121);
}

button {
  height: 30px;
  border: 1px solid #181a1f;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  color: #9da5b4;
  background-color: #353b45;
  background-image: linear-gradient(#3a3f4b, #353b45);
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.1s ease;
}

.droppable-list {
  height: calc(100vh - 110px)
}
